.footer{
	padding: 60px 0px;
	background: $primary-color;
	p {
		color: $extra-color;

		a{
			color: $extra-color;

			&:hover {
				color: $secondary-color;
			}
		}
	}
}
.footer-widget{

	a{
		color: $extra-color;
		text-transform: capitalize;
		&:hover{
			color: $secondary-color;
		}
	}
}
	
