.section{
	padding: 120px 0px;
}

.section-sm{
	padding: 60px 0px;
}

.btn{
	padding: 18px 38px;
	border: 2px solid transparent;
	text-transform: uppercase;
	border-radius:0px;
	font-size: 14px;
	line-height: 14px;
	font-weight: 600;
	box-shadow: rgb(153, 153, 153) 0px 0px 0px 0px;

	 &:focus{
	    outline: 0px;
	    border: 0px;
	    box-shadow: none;
	  }
}

.btn-main{
	background: $secondary-color;
	color: $extra-color;

	&:hover{
		background: $primary-color;
		color: $extra-color!important;
	}
}

.btn-black{
	background: $black;
	color: $white;

	&:hover{
		background: $primary-color;
		color: $white;
	}
}

.btn-white{
	background: $extra-color;
	color: $primary-color;
	border-color: $extra-color;

	&:hover{
		background: transparent;
		color: $extra-color;
	}
}

.btn-whatsapp {
	background: #25D366;
	color: $extra-color;
	border-color: $extra-color;

	&:hover{
		background: #13a348;
		color: $white;
	}
}

.btn-instagram {
	background: rgb(14,0,255);
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
	color: $white;
	border-color: $extra-color;

	&:hover{
		background: linear-gradient(45deg, #ff921d 0%,#ff6e39 25%,#f82444 50%,#e72372 75%,#df18a0 100%);
		color: $white;
	}
}

.btn-wa-cta {
	display: block;
	position: fixed;
	bottom: 0;
	right: 0;
	border-radius: 8px;
	padding: 12px 15px 12px 15px;
	margin: 12px;
	background-color: #25D366;
	color: $white;
	font-size: 24px;

	&:hover {
		background-color: #13a348;
		color: $white;
	}
}


a{
	color: $black;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;

	&:hover{
		color: $primary-color;
		text-decoration: none;
		outline:none;
	}

}

.bg-primary{
	background: $primary-color!important;
}

.bg-secondary{
	background: $secondary-color!important;
}
.bg-extra{
	background: $extra-color!important;
}

.primary-text-color{
	color: $primary-color;
}

.secondary-text-color{
	color: $secondary-color;
}

.extra-text-color{
	color: $extra-color;
}

.shadow-text-color{
	color: $shadow-color;
}

.page-title{
	h1{
		position: relative;
		padding-bottom: 30px;

		&:after{
			position: absolute;
			content:"";
			left: 50%;
			bottom:0px;
			width: 40px;
			height: 2px;
			margin-left: -25px;
			background: $primary-color;
		}
	}
}


@include mobile{
	h2, .h2 {
	    font-size: 32px;
	    line-height: 43px;
	}
}

@include mobile-xs{
	h2, .h2 {
	    font-size: 32px;
	    line-height: 43px;
	}
}

.content {
  * {
    margin-bottom: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 10px;
  }

  ol {
    padding-left: 20px;
  }

  ul {
    padding-left: 0;
    list-style-type: none;

    li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 10px;

      &::before {
        position: absolute;
        content: "\e64c";
        font-family: "themify";
        font-size: 14px;
        left: 0;
        top: 1px;
        color: $primary-color;
        transition: .3s ease;
      }
    }
  }

  table {
    text-align: left;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;

    border: 1px solid #dee2e6;

    th,
    td {
      padding: .75rem;
      vertical-align: top;
      border: 1px solid #dee2e6
    }

    thead {
      background: #fdfdfd;
    }

    tbody {
      background: #f1f1f1;
    }
  }


  blockquote {
		padding: 20px;
		border-left: 4px solid $primary-color;
		background: #f1f1f1;
    p {
      margin-bottom: 0;
    }
  }


  pre {
    padding: 10px 20px;
    background: #f1f1f1;
  }
}