//color-scheme
//Wood and Leather color combination
$charcoal: #3F4440;
$desert-sun: #E7A054;
$red-orange: #FF6C33;
$beige: #E9DAC4;

//wood and papaer color combination
$tan: #705446;
$beige: #E1C391;
$cream: #FDF4E3;
$ebony: #3C3431;

//My color
$extra: #FBF1DF;
$main: #5B3C31;
$second: #CF7967;
$purple: #944277;
$yellow: #E4CA48;

// Color Variables
$white: #fff;
$black: #000;
$border-color: #dedede;
$heading-font:'Playfair Display', serif;
$body-font:'Lato', sans-serif;
$primary-color: $main;
$secondary-color: $second;
$extra-color: $extra;
$shadow-color: $ebony;