// Color Variables
$white: #fff;
$black: #000;
$border-color: #dedede;
$heading-font:'Playfair Display', serif;
$body-font:'Lato', sans-serif;
$extra-color:#e8eefb;
$primary-color:#756043;
$secondary-color:#f7f7f7;